<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fh.swengb.resifo_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".EditPersonActivity" />
        <activity android:name=".Formular01Activity" />
        <activity android:name=".Formular02Activity" />
        <activity android:name=".Formular03Activity" />
        <activity android:name=".Formular04Activity" />
        <activity android:name=".Formular05Activity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".Formular06Activity" />
        <activity android:name=".Formular07Activity" />
        <activity android:name=".Formular08Activity" />
        <activity android:name=".Formular09Activity" />
        <activity android:name=".Formular10Activity" />
        <activity android:name=".Formular11Activity" />
        <activity android:name=".Formular12Activity"></activity>
        <activity android:name=".ResListActivity"></activity>
    </application>

</manifest>